<%= form_with(model: booking) do | f | %>
    <div>
        <%= f.label :start %>
        <%= f.datetime_field :start %>
    </div>
    <div>
        <%= f.label :end %>
        <%= f.datetime_field :end %>
    </div>
    <div>
        <%= f.label :purpose %>
        <%= f.text_field :purpose %>
    </div>
    <div>
        <%= f.label :room %>
        <%= f.collection_select :room_id, Room.all, :id, :name %>
    </div>

    <div>
        <%= f.submit %>
    </div>
    
<% end %>